 <%= link_to "Show this author", @author, class: "btn btn-primary" %>
  <%= link_to "Back to authors", authors_path, class: "btn btn-secondary" %>
<br>
<center><h1>Edit Author</h1></center>

<%= render "form", author: @author %>

<br>

